.sdlg-navigation.p-c-p__navigation{
  .container{
    @media (max-width:360px ) {
      padding: 0 3px;
    }
  }
}

.p-c-p-product {
  margin-top: -5px;

  &__wrapper {
    padding-bottom: 100px;
    @media (max-width: 991px) {
      padding-bottom: 90px;
    }
    @media (max-width: 768px) {
      padding-bottom: 75px;
    }
  }

  .container {
    @media (max-width: 650px) {
      padding: 0;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 50px;
    font-family: 'HelveticaNeueBoldCondensed';
    @media (max-width: 1200px) {
      font-size: 62px;
      line-height: 150%;
    }
    @media (max-width: 991px) {
      font-size: 52px;
      line-height: 120%;
    }
    @media (max-width: 768px) {
      font-size: 48px;
      span {
        display: block;
      }
    }
    @media (max-width: 650px) {
      font-size: 36px;
      padding: 0 15px;
      width: 100%;

    }
    @media (max-width: 360px) {
      font-size: 30px;
    }

    span {
      color: #B5B6B6;
    }
  }

  &__sliders {
    width: 100%;
    max-width: 49%;
    height: 522px;
    position: relative;
    @media (max-width: 991px) {
      height: 473px;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
    @media (max-width: 650px) {
      height: 403px;
    }
  }

  .main-page-top-block__slider-prev {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 3;
    width: 50px !important;
    height: 50px !important;
    top: auto;
    border: 1px solid #303030;
    @media (max-width: 650px){
      left: 5px;
    }
  }

  .main-page-top-block__slider-next {
    position: absolute;
    left: auto;
    right: 17px;
    bottom: 30px;
    z-index: 3;
    width: 50px !important;
    height: 50px !important;
    top: auto;
    border: 1px solid #303030;
    @media (max-width: 650px){
      right: 5px;
    }
  }

  &__slider2 {
    height: 422px;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      height: 368px;
    }
    @media (max-width: 650px) {
      height: 298px;
    }
  }

  &__slider2-slide {
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 68px;
    width: 100%;
    @media (max-width: 1200px) {
      padding: 50px;
    }
    @media (max-width: 991px) {
      padding: 43px;
    }
  }

  &__slider2-slide-image-cover {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__slider1 {
    margin-left: 70px;
    width: calc(100% - 157px);
    padding-right: 80px;
    @media (max-width: 650px){
      margin-left: 63px;
      width: calc(100% - 130px);

    }
  }

  &__slider1-slide {
    width: 80px;
    height: 80px;
    box-sizing: border-box;

    &.swiper-slide-thumb-active {
      border: 2px solid #FFD400;
      padding: 3px;
    }
  }

  &__slider1-image-cover {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 51%;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 50px;
    }
    @media (max-width: 650px){
      padding: 0 15px;
    }
  }

  &__info-flex {
    display: flex;
    padding: 18px 0 19px 119px;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(181, 182, 182, .5);
    @media (max-width: 1200px) {
      padding-left: 75px;
    }
    @media (max-width: 991px) {
      padding-left: 35px;
    }
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  &__category {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #B5B6B6;
    @media (max-width: 360px){
      font-size: 14px;
    }
  }

  &__info-perameters {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #303030;
    position: relative;
    bottom: -9px;
    @media (max-width: 360px){
      font-size: 16px;
    }
  }

  &__info-variants-buy {
    padding: 20px 0 10px 119px;
    @media (max-width: 1200px) {
      padding-left: 75px;
    }
    @media (max-width: 991px) {
      padding-left: 35px;
    }
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  &__info-variants-buy-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #B5B6B6;
    margin-bottom: 20px;
    @media (max-width: 360px){
      font-size: 14px;
    }
  }

  &__variant-block {
    display: flex;
    margin-bottom: 14px;

    input {
      display: none;
    }
  }

  &__variant-faker {
    width: 15px;
    height: 15px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #303030;
    margin-right: 20px;

  }

  &__variant--text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #303030;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    @media (max-width: 360px){
      font-size: 13px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border: 1px solid #303030;
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 4.5px;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background: #FFD400;
      transition: all .4s;
      opacity: 0;
    }
  }

  &__info-btns-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 119px;
    margin-top: 55px;
    @media (max-width: 1200px) {
      padding-left: 75px;
    }
    @media (max-width: 991px) {
      padding-left: 35px;
      flex-direction: column;
      margin-top: 35px;
    }
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  &__info-consultation {
    height: 50px;
    padding: 16px 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #303030;
    border: 2px solid #303030;
    box-sizing: border-box;
    transition: all .4s;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
    background-color: transparent;
    @media (max-width: 1200px) {
      padding: 16px 25px;
    }
    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:hover {
      background-color: #B5B6B6;
      border: 2px solid #B5B6B6;
    }
  }

  &__info-price {
    height: 50px;
    padding: 16px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #303030;
    background-color: #FFD400;
    border: 2px solid #FFD400;
    box-sizing: border-box;
    transition: all .4s;
    cursor: pointer;
    white-space: nowrap;
    @media (max-width: 1200px) {
      padding: 16px 15px;
    }

    &:hover {
      background-color: #DCB700;
      border: 2px solid #DCB700;
    }
  }


}

.p-c-p-product__input-checkbox:checked + .p-c-p-product__variant--text::after {
  opacity: 1 !important;
}

.p-c-p-product-about{
  background-color: #303030;
  overflow: hidden;
  &__wrapper{
    padding: 50px 0 104px;
    @media (max-width: 768px){
      padding-bottom: 80px;
    }
    @media (max-width: 650px){
      padding-bottom: 60px;
    }
  }
  &__tab{
    display: flex;
    margin-bottom: 20px;
    @media (max-width: 650px){
      flex-direction: column;
    }
  }
  &__tabcontent{
    display: none;
    overflow: hidden;
  }
  &__tablinks{
    &:first-child{
      padding-right: 6%;
      @media (max-width: 650px){
        padding-left: 5px;
        margin-bottom: 20px;
      }
    }
    &:nth-child(2){
      padding-left: 20px;
      padding-right: 11%;
      @media (max-width: 650px){
        padding-left: 5px;
      }
    }
    &:hover{
      color: #FFffff;
    }
    cursor: pointer;
    transition: all .4s;
    background-color: transparent;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(181, 182, 182, .5);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: rgba(181, 182, 182, 1);
    position: relative;
    &:after{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 3px;
      background-color: #FFD400;
      opacity: 0;
      transition: all .4s;
    }
  }
  .p-c-p-product-about__tablinks.active{
    color: #FFFFFF;
    &:after{
      opacity: 1;
    }
  }

  &__specifics-title{
    background-color: #FFD400;
    padding: 25px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #303030;
    font-family: 'HelveticaNeueBoldCondensed';
    @media (max-width: 991px) {
      padding: 23px;
      font-size: 34px;
    }
    @media (max-width: 768px) {
      padding: 20px;
      font-size: 30px;
    }
    @media (max-width: 650px){
      font-size: 28px;
      padding: 17px;
    }
  }

  &__specifics-paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    width: 100%;
    max-width: 95%;
    @media (max-width: 1120px) {
      br{
        display: none;
      }
    }
    @media (max-width: 650px){
      font-size: 16px;
      line-height: 120%;
    }
  }
  &__specifics-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    @media (max-width: 768px){
      flex-direction: column;
      margin-top: 60px;
    }
    @media (max-width: 650px){
      margin-top: 50px;
    }
  }
  &__specifics-left{
    width: calc(100%/2 - 9px);
    @media (max-width: 768px){
      width: 100%;
    }
  }
  &__specifics-right{
    width: calc(100%/2 - 9px);
    @media (max-width: 768px){
      width: 100%;
    }
  }
  &__specifics-block{
    height: 300px;
    width: 100%;
    @media (max-width: 768px){
      height: initial;
      margin-bottom: 20px;
    }
  }
  &__specifics-block-title{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(181, 182, 182, .5);
    margin-bottom: 20px;
  }
  &__specifics-block-numbe{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFD400;
    font-family: 'HelveticaNeueBoldCondensed';
    @media (max-width: 650px){
      font-size: 28px;
    }
  }

  &__specifics-plus{
    width: 15px;
    height: 15px;
  }
  &__specifics-block-subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
    @media (max-width: 650px){
      font-size: 16px;
      margin-bottom: 17px;
    }
    @media (max-width: 550px){
      br{
        display: none;
      }
    }
  }
  &__specifics-block-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(181, 182, 182, 1);
    width: 87%;
  }
}

.p-c-p-product-same{
  &__wrapper{
    padding: 104px 0 55px;
    @media (max-width: 991px){
      padding-top: 95px;
    }
    @media (max-width: 768px){
      padding-top: 85px;
    }
    @media (max-width: 650px){
      padding-top: 70px;
    }
  }
  &__title-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    @media (max-width: 650px){
      margin-bottom: 25px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__title{
    font-family: 'HelveticaNeueBoldCondensed';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-transform: uppercase;
    color: #303030;
    @media (max-width: 1200px) {
      font-size: 62px;
      line-height: 150%;
    }
    @media (max-width: 991px) {
      font-size: 52px;
      line-height: 120%;
    }
    @media (max-width: 768px) {
      font-size: 48px;
    }
    @media (max-width: 650px) {
      font-size: 36px;
      margin-bottom: 10px;
    }
    @media (max-width: 360px) {
      font-size: 30px;
    }

  }
  .catalogue-inner__excavators-black{
    @media (max-width: 1200px) {
      padding: 3px 25px;
    }
  }
  &__slider{
    height: 482px;
    @media (max-width: 650px){
      height: 450px;
    }
  }
}


.p-c-p-w-81{
  width: 81px;
}
.p-c-p-w-201{
  width: 201px;
}
.p-c-p-w-86{
  width: 86px;
}
.p-c-p-w-51{
  width: 51px;
}
.p-c-p-w-253{
  width: 253px;
}
.p-c-p-w-95{
  width: 95px;
}
.p-c-p-w-224{
  width: 224px;
}
.p-c-p-w-288{
  width: 288px;
}
.p-c-p-w-168{
  width: 168px;
}
.p-c-p-w-361{
  width: 394px;
}
.p-c-p-w-112{
  width: 112px;
}
.p-c-p-w-410{
  width: 410px;
}

.p-c-p-product-about__table{
  &-flex-first{
    margin-top: 30px;
  }
  &-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: 768px){
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }
  &-half-block{
    width: calc(100%/2 - 10px);
    @media (max-width: 768px){
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &-title{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 1150px) {
      font-size: 16px;
    }
    @media (max-width: 650px){
      font-size: 14px;
    }
  }
  &-flex-minus{
    margin-top: -50px;
    @media (max-width: 768px){
      margin-top: 0;
    }
  }
  &-flex-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(181, 182, 182, .5);
  }
  &-top-title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #B5B6B6;
    @media (max-width: 1150px){
      font-size: 14px;
    }
    @media (max-width: 650px){
      padding: 0 3px;
    }
  }
  &-characterization{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    &:last-child{
      .p-c-p-product-about__table-characterization-first-double:after{
        width: 100%;
      }
    }
    @media (max-width: 1150px) {
      font-size: 16px;
    }
    @media (max-width: 650px){
      padding: 0 3px;
      font-size: 14px;
    }
  }
  &-characterization-first-double{
    padding-bottom: 10px;
    margin-bottom: 16px;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      display: block;
      background-color:#727474;
      height: 1px;
      left: 0;
      width: 180%;
      bottom: 0;
    }
  }
  &-scroll{
    margin-bottom: 50px;
    @media (max-width: 991px){
      overflow-x: scroll;
    }
  }
  &-scroll-cover{
    @media (max-width: 991px){
      width: 961px;
    }
  }

}